<h1>Add a new Freaking Cat</h1>

<form action="/cats" method="post">
  <input type="text" name="name" placeholder="enter a cat name">
  <input type="text" name="lives" >
  <input type="text" name="Life Story" value="">
  <input type="submit" name="commit" value="Create Cat">
</form>
