<h1>All the cool Cats</h1>


<ul>
  <div class="cats_list">
  {{#each cats}}

      <li>name: {{this.name}}</li>
      <li>Lives: {{this.lives}}</li>
      <li>Life Story: {{this.liveStory}}</li>

  {{/each}}
</ul>
</div>
