<h1>All the cool Cats</h1>


<ul>
  <div class="cat">
  {{#each cats}}
      <div class="cats_list">
        <h1>name: {{this.name}}</h1>


        <h3>Lives: {{this.lives}}</h3>

        <p>Life Story: {{this.liveStory}}</p>
    </div>
  {{/each}}
</ul>
</div>
