body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: #00B7FF;
}

li {
  list-style-type: none;
}

.cats_list {
  margin-right: 10%;
  min-width: 200px;
}

.cat {
  display: flex;
  flex: flex-wrap;
  min-width: 200px;
}
